<div *ngIf="!user[0]">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="user[0]">
  <article class="row">

    <div class="col-md-2 col-sm-2 hidden-xs">

      <figure class="thumbnail">
        <div *ngIf="user[0]">
          <a href="users/{{comment.author}}">
            <img class="avatar" src="{{user[0].avatar}}" onerror="this.onerror=null;this.src='https://img00.deviantart.net/93f6/i/2010/155/1/1/facebook_default_picture_by_adnac.jpg';"
            />
          </a>
        </div>
      </figure>
    </div>
    <div class="col-md-10 col-sm-10">
      <div class="panel panel-default arrow left">
        <div class="panel-body">
          <header class="text-left">
            <div class="comment-user">
              <i class="fa fa-user"></i> {{comment.author}}

              <time class="comment-date">
                <i class="fa fa-clock-o"></i> {{comment._kmd.lmt | date: 'dd/MM/yyyy - HH:mm'}}
              </time>
              <div id="checked" *ngIf="comment.images.length > 0">show images
                <input type="checkbox" [(ngModel)]="checked" checked="true">
              </div>
            </div>

          </header>
          <div *ngIf="checked" class="comment-post">
            <p>
              {{comment.filteredContent}}
              <br>
              <li *ngFor="let imgLink of comment['images']">
                <a target="_Blank" href="{{imgLink}}">
                  <img class="comment-img" src="{{imgLink}}" alt="image link">
                </a>
              </li>
            </p>
          </div>
          <div *ngIf="!checked" class="comment-post">
            <p ng-bind-html="comment.content">
              {{comment.content}}
              <br>
            </p>
          </div>
          <a *ngIf="comment.author == currentUser" 
          (click)="deleteComment(comment._id)" id="creator" class="btn btn-danger glyphicon glyphicon-remove">
          </a>
        </div>
      </div>
    </div>
  </article>
</div>