<div *ngIf="!user">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="user">
    <article class="row">
    <div class="col-md-2 col-sm-2 hidden-xs">
      <figure class="thumbnail">
        <div *ngIf="user[0]">
          <a href="users/{{comment.author}}">
            <img class="avatar" src="{{user[0].avatar}}" onerror="this.onerror=null;this.src='https://img00.deviantart.net/93f6/i/2010/155/1/1/facebook_default_picture_by_adnac.jpg';"
            />
          </a>
        </div>
        <div *ngIf="user.length == 0">
            <a href="users/{{comment.author}}">
              <img class="avatar" src="../../../../assets/images/deleted-user.jpg" onerror="this.onerror=null;this.src='https://img00.deviantart.net/93f6/i/2010/155/1/1/facebook_default_picture_by_adnac.jpg';"
              />
            </a>
          </div>
      </figure>
    </div>
    <div class="col-md-10 col-sm-10">
      <div class="panel panel-default arrow left">
        <div class="panel-body">
          <header class="text-left ">
            <div class="comment-user comment-info">
              <i class="fa fa-user"></i> {{comment.author}}
              <time class="comment-date">
                <i class="fa fa-clock-o"></i> {{comment._kmd.lmt | date: 'dd/MM/yyyy - HH:mm'}}
              </time>
              <div id="checked" *ngIf="comment.images.length > 0">show images
                <input type="checkbox" [(ngModel)]="checked" checked="true">
              </div>
            </div>
          </header>
          <div class="comment-post">
            <p *ngIf="comment.filteredContent != ''">
              {{comment.filteredContent}}
              <br>
            </p>
            <div *ngIf="checked">
              <li *ngFor="let imgLink of comment['images']">
                <a target="_Blank" href="{{imgLink}}">
                  <img class="comment-image" class="comment-img" src="{{imgLink}}" alt="image link">
                </a>
              </li>
            </div>
            <div *ngIf="!checked">
              <li *ngFor="let imgLink of comment['images']">          
                <a target="_Blank" href="{{imgLink}}">{{imgLink}}</a>
              </li>
            </div>
          </div>
          <a *ngIf="comment.author == currentUser.username || currentUser.isAdmin" (click)="deleteComment(comment._id)" id="creator" class="btn btn-danger glyphicon glyphicon-remove">
          </a>
        </div>
      </div>
    </div>
  </article>
</div>