
<button (click)="getFreshMemes($event)" type="button" class="btn btn-dark">Fresh</button>
<button (click)="getHotMemes($event)" type="button" class="btn btn-dark">Hot</button>
<button (click)="getMemesByCategory($event,'animals')" type="button" class="btn btn-dark">Animals</button>
<button (click)="getMemesByCategory($event,'dark humor')" type="button" class="btn btn-dark">Dark Humor</button>
<button (click)="getMemesByCategory($event,'programming')" type="button" class="btn btn-dark">Programming</button>
<button (click)="getMemesByCategory($event,'anime')" type="button" class="btn btn-dark">Anime/Manga</button>
<div *ngIf="!memes[0] && memes.length !== 0">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="memes">
  <div align="center">
    <ul>
      <div *ngIf="memes.length > 0">
        <li *ngFor="let meme of memes">
          <app-meme [meme]='meme'></app-meme>
        </li>
      </div>
    </ul>
  </div>
</div>