<div *ngIf="comments.length == -1">
  <app-loading-spinner></app-loading-spinner>
</div>

<div  align="center" class="container">
  <div align="center"  class="row" >
    <div id="comment-section" class="col-md-8 col-sm-8">
      <h2 class="page-header">Comments</h2>
      <app-post-comment (submittedComment)="handleCommentSubmit($event)"></app-post-comment>
      <section class="comment-list">
        <div *ngIf="comments.length > 0">
          <li *ngFor="let comment of comments">
            <app-comment   [comment]='comment'></app-comment>
          </li>
        </div>
        <div *ngIf="comments.length == 0">
          <i>* No Comments Yet *</i>
        </div>
      </section>
    </div>
  </div>
</div>