<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">{{title}}</a>
    </div>
    <ul *ngIf="!authService.isLoggedIn()" class="nav navbar-nav">
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
    </ul>
    <ul *ngIf="authService.isLoggedIn()" class="nav navbar-nav">
      <li>
        <a routerLink="/create">Upload</a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="/admin">Admin Panel</a>
      </li>
    </ul>
    <app-searchbar></app-searchbar>
    <ul *ngIf="authService.isLoggedIn()" class="nav navbar-nav">
      <li>
        <a routerLink="/logout">Logout</a>
      </li>
      <li>
        <a routerLink="/users/{{username}}">Hello, {{username}}!</a>
      </li>
    </ul>
  </div>
</nav>
