<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">{{title}}</a>
    </div>
    <ul *ngIf="!authService.isLoggedIn()" class="nav navbar-nav">
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
    </ul>
    <ul *ngIf="authService.isLoggedIn()" class="nav navbar-nav">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/create">Upload</a>
      </li>

    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul  *ngIf="authService.isLoggedIn()" class="nav navbar-nav">
      <li >        
        <a routerLink="/logout">Logout</a>
      </li>
      <li>  <a href="/users/{{username}}">Hello, {{username}}!</a></li>
    </ul>
  
  </div>
</nav>