<div class="card" style="width: 40rem;">
  <div class="card-block">
    <a routerLink="/meme/{{meme._id}}">
      <h4 class="card-title">{{meme.title}}</h4>
    </a>
    <img *ngIf="!meme.nsfw" style="width: 100%" class="card-img-top" src="{{meme.imageUrl}}" alt="MEME">
    <img *ngIf="meme.nsfw" (click)="meme.nsfw = false" style="width: 100%" class="card-img-top nsfw" src="../../../../assets/images/NSFW.jpg"
      alt="NSFW">
    <div>
      <div style="float:left; margin-left: 10px">
        <h4 class="glyphicon glyphicon-user"> </h4>
        <a routerLink="/users/{{meme.author}}">{{meme.author}}</a>
        |
        <span (mouseenter)="showRatingInfo(true)" (mouseleave)="showRatingInfo(false)">
          <h4 class="glyphicon glyphicon-star"></h4>
          <b>
            {{meme.rating }}
          </b>
        </span>
        <div *ngIf="showRatingInfoDiv">
          <div id="rating-info">
            <div *ngIf="meme.thumbsUp.length > 0" style="float: left; margin-right: 5px">
              <b class="glyphicon glyphicon-thumbs-up"> </b><br>
              <li *ngFor="let likes of meme.thumbsUp">
                {{likes}}
              </li>
            </div>
            <div *ngIf="meme.thumgsDown.length > 0" style="float: right">
                <b class="glyphicon glyphicon-thumbs-down"> </b><br>
              <li *ngFor="let dislikes of meme.thumgsDown">
                {{dislikes}}
              </li>
            </div>
          </div>
        </div>
      </div>

      <div style="float: right; margin-right: 10px">
        <h4 class="glyphicon glyphicon-calendar"> </h4>
        <i>{{meme._kmd.lmt | date: "dd/MM/yy HH:mm" }}</i>
      </div>
      <div>
        <a id="comment-btn" routerLink="/meme/{{meme._id}}">
          <h4 align="center" class="glyphicon glyphicon-comment"></h4>
        </a>
      </div>


    </div>
    <div *ngIf="currentUser">


      <a *ngIf="meme.author == currentUser.username || currentUser.isAdmin" (click)="deleteMeme(meme._id)" id="creator" class="btn btn-danger glyphicon glyphicon-remove"></a>
      <a routerLink="/meme/edit/{{meme._id}}" *ngIf="meme.author == currentUser.username || currentUser.isAdmin" id="creator" class="btn btn-danger glyphicon glyphicon-pencil"></a>
    </div>

  </div>
  <hr>
</div>