#comment-btn {
    width: 40%;
}

#creator {
    width: 20%
}

#comment-btn {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#rating-info {
    margin-left: 55px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    z-index: 1;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

  
