<div *ngIf="!userInfo[0]">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="userInfo[0]">
  <div class="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)" class="form-horizontal" role="form">
      <h1>Edit Profile</h1>
      <hr>
      <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <div *ngIf="!userInfo">
              <img src="//placehold.it/100" class="avatar img" alt="avatar">
            </div>
            <div *ngIf="userInfo">
              <div *ngIf="userInfo[0]">
                <img src="{{userInfo[0].avatar}}"  alt="avatar">
              </div>

            </div>
            <h6>Image URL</h6>
            <input formControlName="avatar" class="form-control" placeholder="Image Url">
          </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <h3>Personal info</h3>
          <div class="form-group">
            <label class="col-lg-3 control-label">First Name:</label>
            <div class="col-lg-8">
              <input formControlName="firstName" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last Name:</label>
            <div class="col-lg-8">
              <input formControlName="lastName" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              <input formControlName="address" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input formControlName="email" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Facebook:</label>
            <div class="col-lg-8">
              <input formControlName="facebook" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Twitter:</label>
            <div class="col-lg-8">
              <input formControlName="twitter" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Google+:</label>
            <div class="col-lg-8">
              <input formControlName="google" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input id="save-btn" class="btn btn-primary" value="Save Changes" type="submit">

              <input class="btn btn-default" value="Change Password" type="button">
              <a href="users/{{userInfo[0].username}}" class="btn btn-default danger" value="Cancel" type="button">Cancel</a>
            </div>
          </div>

        </div>
      </div>
      <pre>{{createForm.value | json}}</pre>
    </form>
  </div>
</div>
<hr>