<div class="container">
  <h1>Register Form</h1>
  <form (ngSubmit)="register()" #registerForm="ngForm" >
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel">
      <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
        Username is required!
      </div>
    </div>

    <div class="form-group">
      <label for="username">Email</label>
      <input type="text" class="form-control" id="email" required ng-model-options="{updateOn: 'blur'}" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
        [(ngModel)]="model.email" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        <span *ngIf='email.value !=="" '>Invalid email!</span>
        <span *ngIf='email.value ==="" '>Email is requiered!</span>
      </div>
    </div>


    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
      <div [hidden]="confirmPassword.valid || confirmPassword.untouched" class="alert alert-danger">
          Password is required!
        </div>
    </div>


    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" required [(ngModel)]="model.confirmPassword" name="confirmPassword"
        #confirmPassword="ngModel">
      <div [hidden]="confirmPassword.valid || confirmPassword.untouched" class="alert alert-danger">
        Password is required!
      </div>
    </div>



    <button [disabled]="!registerForm.form.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
  <div *ngIf="registerSuccess" class="alert alert-success">
    Successfull Registered {{registeredUser}}!
  </div>
  <div *ngIf="registerFail" class="alert alert-danger">
    User already exists!
  </div>
</div>